<section class="landing" style="background-image: url(http://localhost:2368/content/images/2014/12/web_developer.jpg)">
  <header class="main-header text center">
    {{#if @blog.cover}}

    <div class="cover" style="background-image: url({{@blog.cover}})">

      <div class="cover-mask padding">
        {{#if @blog.logo}}
        <nav>
          <a href="{{@blog.url}}" class="inline blog-logo-extra-border border circle">
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" />
          </a>
        </nav>
        {{/if}}
        <div class="site_width">
          <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
          <p class="blog-description">{{@blog.description}}</p>
        </div>
      </div>

      {{> "social"}}
    </div>

    {{else}}

    <div class="no-cover site_width padding border solid bottom">
      {{#if @blog.logo}}
      <nav>
        <a href="{{@blog.url}}" class="inline blog-logo-extra-border border circle">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" />
        </a>
      </nav>
      {{/if}}

      <div class="site_width">
        <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
        <p class="blog-description">{{@blog.description}}</p>
      </div>

      {{> "social"}}

      <div class="margin-top">
        <a href="#">Sobre mí</a> |
        <a href="#">Résúmé</a> |
        <a href="#">eBooks</a> |
        <a href="#">Camisetas Geeks</a>
      </div>
    </div>

    {{/if}}
  </header>
  <div class="scroll-down text center border solid top">
    <p class="text small">
      <i class="fa fa-chevron-down"></i>
        &nbsp;&nbsp;Haz scroll para leer el blog&nbsp;&nbsp;
      <i class="fa fa-chevron-down"></i></p>
  </div>
</section>
