{{#foreach posts}}

<article class="padding">
  <header class="excerpt">
    <h4><a href="{{url}}">{{{title}}}</a></h4>
  </header>

  <div>
    <p>{{excerpt words="40"}} <a href="{{url}}"><span class="fa fa-caret-square-o-right"></span></a></p>
  </div>

  <footer class="author">
    {{#if author.image}}
    <div class="author-thumb inline middle">
      <img src="{{author.image}}" alt="Foo" class="border circle" />
    </div>
    {{/if}}

    <div class="inline middle">
      {{author}}
      {{tags prefix=" on "}}
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
    </div>
  </footer>
</article>

{{/foreach}}
<div id="newsletter" class="box">
  <form style="background-color: #eaeaea; border:1px solid #ccc; padding: 1em; text-align:center;" action="//carlosazaustre.us6.list-manage.com/subscribe/post?u=f03c243e4abc9f550757789bc&amp;id=bde03e7057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <span class="fa fa-envelope fa-3x"></span>
    <br/><br/>
    <h4>¡No te pierdas ningún tutorial!</h4>
    <p>Si quieres recibir en tu email antes que nadie las noticias que se cuecen en este blog, sólo tienes que dejar tu dirección de correo electrónico.</p>
    <input type="email" name="EMAIL" class="inline field" id="mce-EMAIL" placeholder="Tu dirección de email..." required>
    <p class="center">
      <button type="submit" class="btn btn-orange medium border radius" name="subscribe" id="mc-embedded-subscribe">Quiero suscribirme</button>
    </p>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f03c243e4abc9f550757789bc_bde03e7057" tabindex="-1" value=""></div>
  </form>
</div>

{{pagination}}
