{{#foreach posts}}

<article class="padding">
  <header class="excerpt">
    <h4><a href="{{url}}">{{{title}}}</a></h4>
  </header>

  <div>
    <p>{{excerpt words="40"}} <a href="{{url}}"><span class="fa fa-angle-double-right"></span></a></p>
  </div>

  <footer class="author">
    {{#if author.image}}
    <div class="author-thumb inline middle">
      <img src="{{author.image}}" alt="Carlos Azaustre" class="border circle" />
    </div>
    {{/if}}

    <div class="inline middle">
      by {{author}} |
      Archived in
      <span class="fa fa-folder-open-o"></span>
      {{tags}}
      <time datetime="{{date format='DD-MM-YYYY'}}">
        {{date format="dddd, DD, MMMM, YYYY"}}
      </time>
    </div>
  </footer>
</article>
<hr/>

{{/foreach}}
{{> "newsletter"}}

{{pagination}}
