<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="rG1QYW9K5a8qzdXJUimg8uRb1Eqsk0v-u6Hss8vABmk" />
    <link rel="author" href="//plus.google.com/+CarlosAzaustre?rel=author" />
    <link rel="shortcut icon" href="{{ asset "favicon.ico"}}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset "apple-icon-57x57.png" }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset "apple-icon-60x60.png" }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset "apple-icon-72x72.png" }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset "apple-icon-76x76.png" }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset "apple-icon-114x114.png" }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset "apple-icon-120x120.png" }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset "apple-icon-144x144.png" }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset "apple-icon-152x152.png" }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset "apple-icon-180x180.png" }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset "android-icon-192x192.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset "favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset "favicon-96x96.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset "favicon-16x16.png" }}">
    <link rel="manifest" href="{{ asset "manifest.json" }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset "ms-icon-144x144.png" }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ asset "lib/css/main.css"}}">
    {{#if post}}
    {{ghost_head}}
    {{else}}
    <meta property="og:locale" content="es">
    <meta property="og:site_name" content="Carlos Azaustre | Web Developer Blog" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="Carlos Azaustre | Web Developer Blog" />
    <meta property="og:description" content="{{meta_description}}" />
    <meta property="og:url" content="http://carlosazaustre.es/blog" />
    <meta property="og:image" content="{{ asset "social-card.png "}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Carlos Azaustre | Web Developer Blog" />
    <meta name="twitter:description" content="{{meta_description}}" />
    <meta name="twitter:url" content="http://carlosazaustre.es" />
    <meta name="twitter:image:src" content="{{ asset "social-card.png" }}" />
    {{/if}}
  </head>
  <body>

    {{> navbar}}

    {{{body}}}

    {{> footer}}

    {{> load-fonts}}
    {{> load-prism}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="{{ asset "lib/fitvid/jquery.fitvid.js" }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").fitVids();
      });
    </script>
    {{> google-analytics}}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e489d6305b1d7a" async="async"></script>
  </body>
</html>
