<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="author" href="//plus.google.com/+CarlosAzaustre?rel=author" />
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/css/main.css">
    <link rel="stylesheet" href="../assets/lib/css/main.css">
    {{ghost_head}}
  </head>
  <body>
    {{{body}}}

    <footer class="site-footer text center padding">
      <div>&copy; 2012 - {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. Todos los derechos reservados.</div>
      <div>El contenido de este blog está publicado con <a href="https://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-Compartir igual 4.0 internacional</a></div>
      <div><a href="https://github.com/dreyacosta/velox" target="_blank"><strong>Velox theme</strong></a> por <a href="http://dreyacosta.com/">David Rey</a>. Modificaciones por <a href="//twitter.com/carlosazaustre">Carlos Azaustre</a>. | Publicado con <a href="http://ghost.org"><strong>Ghost</strong></a></div>
      <br/>
      <br/>
      <div>Alojado en <a href="https://www.digitalocean.com/?refcode=f716de9860aa"><img width="150" src="http://carlosazaustre.es/blog/content/images/2014/12/digital_ocean.png"/></a></div>
      <br/>
      <div><a href="/blog/politica-de-cookies/">Política de cookies</a> | <a href="/blog/legal">Aviso legal</a></div>
      <br/>
      <div>
        Si te ha parecido interesante y útil el contenido de este blog, puedes dejar una propina para seguir adelante :)
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="W4JGL782Z7Q6N">
          <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
          <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </footer>

    {{> load-fonts}}
    {{> load-prism}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="../assets/lib/fitvid/jquery.fitvid.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").fitVids();
      });
    </script>
    {{> google-analytics}}
  </body>
</html>
