<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="rG1QYW9K5a8qzdXJUimg8uRb1Eqsk0v-u6Hss8vABmk" />
    <link rel="author" href="//plus.google.com/+CarlosAzaustre?rel=author" />
    <link rel="shortcut icon" href="{{ asset "favicon.ico"}}">
    <link rel="stylesheet" href="{{ asset "lib/css/main.css"}}">
    {{#if post}}
    {{ghost_head}}
    {{else}}
    <meta property="og:locale" content="es">
    <meta property="og:site_name" content="Carlos Azaustre | Web Developer Blog" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="Cómo conectarte remótamente a tu base de datos MongoDB" />
    <meta property="og:description" content="{{meta_description}}" />
    <meta property="og:url" content="http://carlosazaustre.es/blog" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="{{meta_description}}" />
    <meta name="twitter:url" content="http://carlosazaustre.es" />
    <meta name="twitter:image:src" content="" />
    {{/if}}
  </head>
  <body>

    {{> navbar}}

    {{{body}}}

    {{> footer}}

    {{> load-fonts}}
    {{> load-prism}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="{{ asset "lib/fitvid/jquery.fitvid.js" }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").fitVids();
      });
    </script>
    {{> google-analytics}}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e489d6305b1d7a" async="async"></script>
  </body>
</html>
