<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="author" href="//plus.google.com/+CarlosAzaustre?rel=author" />
    <link rel="shortcut icon" href="{{ asset "favicon.ico"}}">
    <link rel="stylesheet" href="{{ asset "lib/css/main.css"}}">
    {{ghost_head}}
  </head>
  <body>
    {{{body}}}

    <footer class="site-footer text center padding">
      <div>&copy; 2012 - {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. Todos los derechos reservados.</div>
      <div><a href="/blog/politica-de-cookies/">Política de cookies</a> | <a href="/blog/legal">Aviso legal</a></div>
      <br/>
      <div>El contenido de este blog está publicado con <a href="https://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-Compartir igual 4.0 internacional</a></div>
      <div><a href="https://github.com/dreyacosta/velox" target="_blank"><strong>Velox theme</strong></a> por <a href="http://dreyacosta.com/">David Rey</a>. Modificaciones por <a href="//twitter.com/carlosazaustre">Carlos Azaustre</a>. | Publicado con <a href="http://ghost.org"><strong>Ghost</strong></a></div>
      <br/>
      <div>Alojado en <a href="https://www.digitalocean.com/?refcode=f716de9860aa"><img width="200" src="http://carlosazaustre.es/blog/content/images/2014/12/digital_ocean.png"/></a></div>
    </footer>

    {{> load-fonts}}
    {{> load-prism}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="{{ asset "lib/fitvid/jquery.fitvid.js" }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").fitVids();
      });
    </script>
    {{> google-analytics}}
  </body>
</html>
